<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/navigation') %>
    <div class="container">
        <div class="flex-container">
            <div class="shader-container">
                <h1><%= title %></h1>
                <ul>
                    <% posts.forEach(post => { %>
                        <li>
                            <a href="/blog/<%= post.id %>"><%= post.title %></a>
                            <p><%= post.excerpt %></p>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
