<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    <%- include('partials/navigation') %>
    <div class="container">
        <div class="flex-container">
            <div class="shader-container">
                <h1><%= title %></h1>
                <ul>
                    <% destinations.forEach(destination => { %>
                        <li>
                            <a href="/destinations/<%= destination.id %>"><%= destination.name %></a>
                            <p><%= destination.description %></p>
                        </li>
                    <% }); %>
                </ul>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>
</html>
